{% extends "encyclopedia/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Create new page
{% endblock %}

{% block body %}
    <h1>New Page</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    <form action="{% url 'new_entry' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Save">
    </form>

{% endblock %}